/*Global Styles
--------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #40434E;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'Sriracha', sans-serif;
}

h1, h2 {
  text-shadow: 8px 5px 10px rgba(64,67,78,0.58);
}

h3 {
  text-shadow: 8px 5px 10px rgba(196,73,81,0.58);
}

img {
  width: 400px;
  height: auto;
}

a {
  color: #FFE66D;
}

a:hover {
  text-decoration: none;
}


/*"Global" section styling -- styling applies to all content in <section>, more specific styling will be done with classes in the code blocks below global styles
--------------------------------------------------*/
section {
  margin: 0 auto;
  padding: 1em;
}

section h2 {
  padding: 1em;
  text-align: center;
  font-size: 2em;
}


.content-wrap {
  width: 90%;
  margin: 0 auto;
}

/*Profile & Nav Bar Styling
--------------------------------*/
header {
  background-color: #c44951;
  color: #fff;
  padding-top: 2em;
}

header h1 {
  font-size: 3em;
}

nav {
  width: 100%;
  background-color: #40434E;
  margin-top: 1em;
}

nav ul {
  text-align: left;
  list-style-type: none;
}

nav ul li {
  display: inline-block;             
  position: relative;                  
  padding: 1em;           
  background-color: #40434E;            
  cursor: pointer;
}

nav ul li:hover {
  background-color: #CD656C;
  text-decoration: underline;
}

nav ul li ul {
  padding: 0;                        
  position: absolute;             
  top: 62px;                         
  left: -10000px;                  
  width: 200px;   
}

nav ul li ul li {
  background-color: rgb(64, 67, 78, 0.75);         
  display: block;                  
  color: #FFE66D;    
}

nav ul li ul li:hover {
  background-color: #CD656C;
}

nav ul li:hover ul {
  display: block;
  left: 0px;
}

nav ul li a {
  text-decoration: none;
}

/*Projects
--------------------------------*/
.projects {
 background-color: #b9bcc4;
}

.projects .btn {
  color: #C5FFFD;
  background-color: #c44951;
  text-decoration: none;
  padding: .5em;
  border-radius: 20px;
  margin: 1em;
  display: inline-block;
  float: right;
}

.projects .btn:hover {
  opacity: .8;
}

.project img {
  float: left;
  padding: .75em 2em 0 0 ;
}

.project {
  overflow: hidden;
  clear: both;
}

.project h3 {
  text-align: center;
  margin-top: 0;
}

.project p {
  padding-top: 2em;
}


/*Work Experience
--------------------------------*/
.work-exp {
  background-color: #c44951;
  color: #fff;
  float: left;
  width: 50%;
  min-height: 340px;
}

/*Education
--------------------------------*/
.education {
  background-color: #c44951;
  color: #fff;
  float: left;
  width: 50%;
}

.school {
  text-align: center;
}

/*Contact info
--------------------------------*/
footer {
  clear: both;
  background-color: #40434E;
  color: #fff;
  padding: 1em;
}